// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {
    direction: ltr;
    background: $mineShaft;
    position: relative;
}

input, textarea {
    outline: none;
}
