// Brand Colours (Main)
$java     : #15b1c4; // turquoise
$bayOfMany: #27348a; // blue/purple
$rioGrande: #bfc302; // pale green
$jacarta  : #4f2669; // purple

// Brand Colours (Secondary)
$rangoonGreen: #13120d; // black-ish
$boulder     : #797574; // grey pastel
$mineShaft   : #4e4e4e; // grey pastel dark
$dustyGrey   : #999; // dusty grey
$gallery     : #ececec; // light grey
$wildSand    : #f5f5f5; // lighter grey
$tundora     : #4e4e4e; // dark grey
$pomegranate : #e74c0f; // orange-ish
$gold        : #fcd200; // yellow
$thunderbird : #ce1518; // red
$punga       : #5b381b; // brown
$oldCopper   : #7a512e; // light brown

// Regular Colours
$white: #fff;
$black: #000;

// Alpha Colours
$mineShaftAlpha: rgba(34, 34, 34, 0.4);
