//----------------------------------\\
// FONT-FACE
//----------------------------------\\

@font-face {
    font-family: 'frutiger-cn';
    // src: url('#{$fontPath}/myfont');
    font-weight: normal;
    font-style: normal;
}
