@mixin zoominright {
    @at-root {
        @keyframes zoominright {
            from {
                opacity: 0;
                transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
                animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }

            60% {
                transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            }
        }
    }

    animation-fill-mode: both;
    animation-name: zoominright;
}
